# Build artifacts
build/
*.o
*.bpf.o
src/Userspace/configuration/schema.inc

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# RulesGenerator compiled binary
Rules/RulesGenerator/rules_generator

# automation 
*.log
*.sqlite
src/Tests/Automation/owlsm/*
src/Tests/Automation/resources/stdio_redirection
src/Tests/Automation/resources/flatbuffer_reader/flatbuffer_reader
src/Tests/Automation/resources/related_process
src/Tests/Automation/owLSM_output_errors.bin
src/Tests/Automation/owLSM_output_events.bin

# secrets and environment variables
.env
.env.local
.env.*.local
*.pem
docs/GithubPages/_site/*

# docs
docs/GithubPages/vendor/bundle/*
docs/GithubPages/.bundle/*
src/Tests/Automation/resources/OOM_kill_me
src/Tests/Automation/resources/signal_sender
src/Tests/Automation/resources/protected_process
